{% load course_filters %}

<!-- course_details_partial.html -->
<div class="panel-details">
    <h2 style="font-family:'TiemposHeadline', Georgia, serif; font-size: 1.8em;">{{ course.courseName }}</h2>
    <div style="display: block; margin-bottom: 20px; font-style: none;">
        <span style="margin-right: 5px;"><i class="fa-solid fa-circle-info" style="color: #9556b0"></i>
        {% if course.courseLink %}
            <a href="{{ course.courseLink }}" target="_blank" style="color: #5f4d73; text-decoration: none;">Course Link</a>
        {% endif %}
        </span>
        <span><i class="fa-solid fa-book" style="color: #9556b0"></i>
        {% if course.courseMaterialsLink %}
            <a href="{{ course.courseMaterialsLink }}" target="_blank" style="color: #5f4d73; text-decoration: none;">Course Materials Link</a>
        {% endif %}
        </span>
    </div>
    <div class="course-description">
        {% with desc=course.courseDescription %}
            {% if "How to handle overenrollment:" in desc %}
                {% with parts=desc|split:"Spring semester." %}
                    <p class="main-description">{{ parts.0 }}</p>
                {% endwith %}
            {% endif %}

            {% if "Spring semester." in desc %}
                <div class="description-section">
                    <h3 style="background-color: #e1d7f1; padding: 5px; font-weight: normal; font-family:'TiemposHeadline', Georgia, serif;">Spring semester:</h3>
                    <p>{{ desc|split:"Spring semester."|last|split:"How to handle overenrollment:"|first }}</p>
                </div>
            {% endif %}

            {% if "How to handle overenrollment:" in desc %}
                <div class="description-section">
                    <h3 style="background-color: #e1d7f1; padding: 5px; font-weight: normal; font-family:'TiemposHeadline', Georgia, serif;">How to handle overenrollment:</h3>
                    <p>{{ desc|split:"How to handle overenrollment:"|last|split:"Students who enroll in this course will likely encounter and be expected to engage in the following intellectual skills, modes of learning, and assessment:"|first }}</p>
                </div>
            {% endif %}

            {% if "Students who enroll in this course will likely encounter and be expected to engage in the following intellectual skills, modes of learning, and assessment:" in desc %}
                <div class="description-section">
                    <h3 style="background-color: #e1d7f1; padding: 5px; font-weight: normal; font-family:'TiemposHeadline', Georgia, serif;">Expectations:</h3>
                    <p>{{ desc|split:"Students who enroll in this course will likely encounter and be expected to engage in the following intellectual skills, modes of learning, and assessment:"|last|split:"Divisions:"|first }}</p>
                </div>
            {% endif %}

            {% if "Cost:" in desc %}
                <div class="description-section">
                    <h3 style="background-color: #e1d7f1; padding: 5px; font-weight: normal; font-family:'TiemposHeadline', Georgia, serif;">Cost:</h3>
                    <p>{{ desc|safe_split:"Cost:"|last|default:desc }}</p>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    
    <!-- Other course details -->
</div>